body {
    width: 60%; /* largura */
    margin: auto; /* centralizado */
    background-color: rgba(255, 238, 0, 0.671);
    margin-top: 100px; /* espaçamento externo acima */
}

div{
    padding: 10px;
}

li {
    padding: 5px;
}

main {
    background-color: rgb(92, 139, 226);
    border-radius: 20px;
    padding: 10px;
}